@import "tailwindcss";

/* Note: Make sure the relative reference is correct */
/* I assumed when writing the response that they are in the same folder */
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html {
  background-color:black;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(+5%);
  }
  50% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTopRight {
  0% {
    transform: translateX(5%) translateY(-105%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
.autoBLur{
    animation: autoBLurAnimation linear both;
    animation-timeline: view();
}
@keyframes autoBLurAnimation{
    0%{
        filter: blur(40px);
    }
    45%, 55%{
        filter: blur(0px);
    }
    100%{
        filter: blur(40px);
    }
}
.sll {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.slr{
    animation: 1s ease-out 0s 1 slideInFromRight;

}
.sltr{
    animation: 1s ease-out 0s 1 slideInFromRight;

}
 
.fade-bot::before {
  content: "";

  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 150px; /* adjust height of fade */
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
  pointer-events: none;
  z-index: 200000;
}
.autoShowl{
    animation: autoShowAnimationl both;
    animation-timeline: view(70% 5%);
}

.autoShowr{
    animation: autoShowAnimationr both;
    animation-timeline: view(70% 5%);
}
@keyframes autoShowAnimationl {
  from {
    opacity: 0;
    transform: translateX(-40%); /* was -100% */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes autoShowAnimationr {
  from {
    opacity: 0;
    transform: translateX(40%); /* was +100% */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.hero{
   background-image: radial-gradient(
    circle at center,
    rgb(96, 96, 96) 0.01rem,
    transparent 0
  );
  background-size: 1rem 1rem;
  background-repeat: round;
  background-color: black;
  
  z-index: 1000000000000000000;
}

.circle-text {
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    background: radial-gradient(circle at center, #ff0077, #7700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}