@import "tailwindcss";

/* Note: Make sure the relative reference is correct */
/* I assumed when writing the response that they are in the same folder */
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html {
  background-color:black;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(+5%);
  }
  50% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTopRight {
  0% {
    transform: translateX(5%) translateY(-105%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

.sll {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.slr{
    animation: 1s ease-out 0s 1 slideInFromRight;

}
.sltr{
    animation: 1s ease-out 0s 1 slideInFromRight;

}